body {
    margin: 0;
}

.header {
    width: 100%;
    margin: 0 auto 50px auto;
    background-color: #145374;
    color: #ee6f57;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 2px 2px 20px #264e70
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-item {
    background-color: #badfdb;
    color: #fe7171; 
    font-weight: bold;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px #264e70;
    margin: 5px; 
}

input[type=checkbox] {
    margin-right: 10px;
}
